{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Wyloguj się" %}{% endblock %}

{% block content %}

<main>
    <div class="container">
<!--Section: Products v.3-->
<section class="mb-4">

    <div class="row wow fadeIn">
      <div class="col-8 offset-4">
<h2 class="ml-5">{% trans "Wyloguj się" %}</h2>

<p class="ml-1">{% trans 'Czy na pewno chcesz się wylogować?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="col-8 ml-5">
    <button class="btn btn-danger" type="submit" class="ml-5">{% trans 'Sign Out' %}</button>
  </div>
  </div>
</form>

        </div>
      </div>
    </section>
  </div>
</main>

{% endblock %}
